<section class="main-section">
    <div class="table-section">

        <table>
            <tr>
                <th>Id</th>
                <td>{{detailData.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{detailData.name}}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{detailData.rating}}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{detailData.company}}</td>
            </tr>
            <tr>
                <th>Interests</th>
                <td>{{detailData.interests}}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{detailData.designation}}</td>
            </tr>
            <tr>
                <th>Company Logo</th>
                <td><img src="{{detailData.company_logo}}" alt="Logo"> </td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td>{{detailData.job_descripton}}</td>
            </tr>
            <tr>
                <th>View More</th>
                <td><a href="{{detailData.view_more}}" target="_blank">View More</a></td>
            </tr>
        </table>
    </div>
</section>